body{
    background-image: url('https://wallpapercave.com/wp/wp2838025.jpg');
}
h1{
    background-color:lightblue;
    text-align: center;
    width: 300px;
    padding: 50px;
    margin: 20px;
    
}